<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>1009610</real>
		<key>name</key>
		<string>Spider-Man</string>
		<key>desc</key>
		<string>Bitten by a radioactive spider, high school student Peter Parker gained the speed, strength and powers of a spider. Adopting the name Spider-Man, Peter hoped to start a career using his new abilities. Taught that with great power comes great responsibility, Spidey has vowed to use his powers to help people.</string>
		<key>thumbnail</key>
		<string>http://i.annihil.us/u/prod/marvel/i/mg/3/50/526548a343e4b</string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<real>1010338</real>
		<key>name</key>
		<string>Captain Marvel (Carol Danvers)</string>
		<key>desc</key>
		<string>No description available... :(</string>
		<key>thumbnail</key>
		<string>http://i.annihil.us/u/prod/marvel/i/mg/6/80/5269608c1be7a</string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<real>1009351</real>
		<key>name</key>
		<string>Hulk</string>
		<key>desc</key>
		<string>Caught in a gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. An all too often misunderstood hero, the angrier the Hulk gets, the stronger the Hulk gets.</string>
		<key>thumbnail</key>
		<string>http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0</string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<real>1009664</real>
		<key>name</key>
		<string>Thor</string>
		<key>desc</key>
		<string>As the Norse God of thunder and lightning, Thor wields one of the greatest weapons ever made, the enchanted hammer Mjolnir. While others have described Thor as an over-muscled, oafish imbecile, he&apos;s quite smart and compassionate.  He&apos;s self-assured, and he would never, ever stop fighting for a worthwhile cause.</string>
		<key>thumbnail</key>
		<string>http://i.annihil.us/u/prod/marvel/i/mg/d/d0/5269657a74350</string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>thumbnail</key>
		<string></string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>thumbnail</key>
		<string></string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>thumbnail</key>
		<string></string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>thumbnail</key>
		<string></string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<real>1009220</real>
		<key>name</key>
		<string>Captain America</string>
		<key>desc</key>
		<string>Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become America&apos;s one-man army. Fighting for the red, white and blue for over 60 years, Captain America is the living, breathing symbol of freedom and liberty.</string>
		<key>thumbnail</key>
		<string>http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087</string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>thumbnail</key>
		<string></string>
		<key>comics</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</array>
</plist>
